* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  color: #333;
  font-family: Arial, sans-serif;
}

main {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin: 0;
  font-size: 2rem;
}

h1 span {
  font-size: 0.8rem;
  vertical-align: top;
  display: inline-block;
  margin-top: 11px;
  color: #666;
}

form {
  margin-top: 20px;
}

form input,
form button {
  width: 100%;
  background-color: #f9f9f9;
  color: #333;
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

form input::placeholder {
  color: #aaa;
}

form button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

div.transactions {
  margin-top: 20px;
}

div.transaction {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

div.transaction:last-child {
  border-bottom: none;
}

div.transaction div.name {
  font-size: 1.2rem;
  font-weight: bold;
}

div.transaction div.description {
  font-size: 0.9rem;
  color: #888;
}

div.right {
  text-align: right;
}

div.price.green {
  color: #28a745;
}

div.price.red {
  color: #dc3545;
}

